.bg-1 {
    background-color: #0099ff;
    color: white;
}

.bg-2 {
    background-color: #009900;
    color: white;
}

.bg-3 {
    background-color: white;
    color: #333333;
}

.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px
}

@media(min-width:767px) {
    .navbar {
        padding-top: 15px;
        padding-bottom: 15px;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
        font-size: 12px;
        letter-spacing: 5px;
        /*-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
   */
    }
}

.navbar-nav li a:hover {
    color: #1abc9c !;
}

fieldset {
    padding-left: 50%
}

button {
    padding: 0;
    border: 0;
    background: none;
}

.faceshot {
    border-radius: 100%;
}