@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
#headshot {
    width: 100%;
}

#pager {
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    transition: all 150ms ease;
}

#pager:hover {
    filter: alpha(opacity=50);
    opacity: 0.6;
    text-decoration: none;
}

#app {
    background: #666464;
    margin: 0px;
    padding: 0px;
}

.thumbnails li>.fff .caption {
    background: #A0E418;
}


/*Thumbnail Box*/

.caption h4 {
    color: #444
}


/*Carousel Control */

.control-box {
    width: 100%;
}

.carousel-control {
    background: lightgray;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
}

.col-xs-6 {
    margin: 1% 0px;
}


/*mobile*/

@media(max-width:767px) {
    .page-header,
    .control-box {
        text-align: center;
    }
}

@media(max-width:767px) {
    .caption {
        word-break: break-all;
    }
}

li {
    list-style-type: none;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:100,700;);
.younglings {
    background-color: #000;
    color: #fff;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    margin: 8px;
    max-width: 315px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.younglings * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.younglings:before,
.younglings:after {
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 50px solid rgba(0, 0, 0, 0.5);
    border-bottom: 50px solid rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
}

.younglings:before {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
}

.younglings:after {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
}

.younglings #headshot {
    vertical-align: top;
    width: 100%;
    backface-visibility: hidden;
    position: auto;
}

.younglings figcaption {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.younglings h3 {
    font-size: 1em;
    font-weight: 400px;
    letter-spacing: 1px;
    margin: 0px;
    text-transform: uppercase;
}

.younglings h3 span {
    display: block;
    font-weight: 700px;
}

.younglings a {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 3;
}

.younglings:hover>#headshot,
.younglings.hover>#headshot {
    opacity: 0.7;
}

.younglings:hover:before,
.younglings.hover:before,
.younglings:hover:after,
.younglings.hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.younglings:hover figcaption,
.younglings.hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.carousel-inner {
    padding: 0px;
    margin: 0px;
}

.col-xs-4 {
    text-align: center;
}

.carousel {
    padding: 0px;
    margin-top: 1%;
    margin-left: 10px;
    margin-right: 10px;
}

.container-fluid {
    padding: 0px;
}

card {
    padding: 0px;
    margin: 0px;
    display: block;
}


/*Page header*/

.page-header {
    background: #A0E418;
    margin: 0px;
    padding: 20px 40px;
    color: #999;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    vertical-align: middle;
    border: none;
    box-shadow: 1px 1px 5px #888888;
    margin-left: 25%;
    margin-right: 25%
}

.page-header h3 {
    color: #000;
}

ul.thumbnails {
    margin-bottom: 0px;
    height: auto;
    padding: 0px;
}

@media screen and (max-width:767px) {
    .page-header,
    .control-box {
        text-align: center;
        font-size: 2em;
    }
    .caption {
        word-break: break-all;
    }
    .younglings {
        font-size: 1em;
    }
}