@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
img {
    max-width: 100%;
}

a {
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    transition: all 150ms ease;
}

a:hover {
    filter: alpha(opacity=50);
    opacity: 0.6;
    text-decoration: none;
}

body {
    border-top: 0;
    background: #666464;
}

.thumbnails li>.fff .caption {
    background: #A0E418;
    padding: 10px;
}


/*Web Page Box  */

.webpage {
    border: 1px solid white;
    height: 500px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    overflow: scroll;
}


/*Page header*/

.page-header {
    background: #A0E418;
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid #6c6a6a;
    color: #999;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.page-header h3 {
    line-height: 0.88rem;
    color: #000;
}

ul.thumbnails {
    margin-bottom: 0px;
}


/*Thumbnail Box*/

.caption h4 {
    color: #444
}


/*Carousel Control */

.control-box {
    text-align: left;
    width: 100%;
}

.carousel-control {
    background: #A0E418;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    padding: 4px 10px 0px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    position: static;
    height: 30px;
    width: 15px;
}


/*mobile*/

@media(max-width:767px) {
    .page-header,
    .control-box {
        text-align: center;
    }
}

@media(max-width:767px) {
    .caption {
        word-break: break-all;
    }
}

li {
    list-style-type: none;
}

::selection {
    background: #ff5e99;
    color: #FFFFFF;
    text-shadow: 0;
}

::-moz-selection {
    background: #ff5e99;
    color: #FFFFFF;
}


/* testing */

@import url(https://fonts.googleapis.com/css?family=Roboto:100,700;);
.younglings {
    background-color: #000;
    color: #fff;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin: 8px;
    max-width: 315px;
    min-width: 230px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.younglings * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.younglings:before,
.younglings:after {
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 50px solid rgba(0, 0, 0, 0.5);
    border-bottom: 50px solid rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
}

.younglings:before {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
}

.younglings:after {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
}

.younglings img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
    position: auto;
}

.younglings figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.younglings h3 {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
}

.younglings h3 span {
    display: block;
    font-weight: 700;
}

.younglings a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.younglings:hover>img,
.younglings.hover>img {
    opacity: 0.7;
}

.younglings:hover:before,
.younglings.hover:before,
.younglings:hover:after,
.younglings.hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.younglings:hover figcaption,
.younglings.hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}