*{
    font-family: 'Inconsolata', monospace;
    height: auto;
}

.navbar-nav{
    margin: 0px;
    padding: 0.5% 0%;
    background-color: #2c3e50;
    height: auto;
    box-shadow: 0px 4px 5px #888888;
}

li a{
    color: #33cccc;
    background-color: #2c3e50;
    text-shadow: none;
    font-size: 20px;
    margin: 0px 2%;
}

li a:hover{
    color: #33cccc;
    border: 2px solid #33cccc;
    border-radius: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0px 1%;
}

.nav > li > a:hover{
    background-color: #2c3e50;
}

body{
    background-image: url("../img/background.png");
    animation: animatedBackground 40s linear infinite;
    padding-top: 6rem;
    font-size: 18px;
}

.panel{
    margin: 2% 20%;
    background-color: floralwhite;
    border: none;
    border-top: 3px solid #33cccc;
    box-shadow: 5px 5px 5px #888888;
}

.panel-body{
    color: #4c6983;
}

.anchor{
    margin-top: -4%;
    padding-top: 4%;
}

@media screen and (max-width: 768px){
    body{
        padding-top: 22rem;
    }

    .panel{
        margin: 2% 3%;
    }

    .anchor{
        margin-top: -30%;
        padding-top: 30%;
    }
}

h4{
    text-decoration: underline;
    font-size: 20px;
    color: #2980b9;
}

p{
    font-size: 18px;
}

.textField{
    width: 35%;
    margin: 1%;
}

.textArea{
    width: 35%;
    margin: 1%;
    height: 5%;
}

.face{
    width: 40%;
    border-radius: 10px;
}

.button{
    margin: 1%;
    width: 35%;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 0 100%; }
}