<div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../styles/carousel.css"></link>
    <div class="col-xs-12">
        <div class="carousel slide row" data-interval="false" id="myCarousel">
            <div class="carousel-inner CYcontainer-fluid" style="background-color:#A0E418;">
                <div class="item active">
                    <ul class="thumbnails">
                        <li class='col-xs-4'>
                            <a href="{{links[0].link}}">
                                <figure class='younglings'><img id="headshot" src='{{links[0].src}}' alt='a picture' class='img-responsive' />
                                    <figcaption>
                                        <h3>{{links[0].name}} <span>{{links[0].surname}}</span></h3>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class='col-xs-4' ng-click="window.location.href='{{links[1].link}}'">
                            <a href="{{links[1].link}}">
                                <figure class='younglings'><img id="headshot" src='{{links[1].src}}' alt='a picture' class='img-responsive' />
                                    <figcaption>
                                        <h3>{{links[1].name}} <span>{{links[1].surname}}</span></h3>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class='col-xs-4' ng-click="window.location.href='{{links[2].link}}'">
                            <a href="{{links[2].link}}">
                                <figure class='younglings'><img id="headshot" src='{{links[2].src}}' alt='a picture' class='img-responsive' />
                                    <figcaption>
                                        <h3>{{links[2].name}} <span>{{links[2].surname}}</span></h3>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul class="thumbnails">
                        <li class='col-xs-4' ng-click="window.location.href='{{links[3].link}}'">
                            <a href="{{links[3].link}}">
                                <figure class='younglings'><img id="headshot" src='{{links[3].src}}' alt='a picture' class='img-responsive' />
                                    <figcaption>
                                        <h3>{{links[3].name}} <span>{{links[3].surname}}</span></h3>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class='col-xs-4' ng-click="window.location.href='{{links[4].link}}'">
                            <a href="{{links[4].link}}">
                                <figure class='younglings'><img id="headshot" src='{{links[4].src}}' alt='a picture' class='img-responsive' />
                                    <figcaption>
                                        <h3>{{links[4].name}} <span>{{links[4].surname}}</span></h3>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class='col-xs-4' ng-click="window.location.href='{{links[5].link}}'">
                            <a href="{{links[5].link}}">
                                <figure class='younglings'><img id="headshot" src='{{links[5].src}}' alt='a picture' class='img-responsive' />
                                    <figcaption>
                                        <h3>{{links[5].name}} <span>{{links[5].surname}}</span></h3>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul class="thumbnails">
                        <li class='col-xs-4' ng-click="window.location.href='{{links[6].link}}'">
                            <a href="{{links[6].link}}">
                                <figure class='younglings'><img id="headshot" src='{{links[6].src}}' alt='a picture' class='img-responsive' />
                                    <figcaption>
                                        <h3>{{links[6].name}} <span>{{links[6].surname}}</span></h3>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class='col-xs-4' ng-click="window.location.href='{{links[7].link}}'">
                            <a href="{{links[7].link}}">
                                <figure class='younglings'><img id="headshot" src='{{links[7].src}}' alt='a picture' class='img-responsive' />
                                    <figcaption>
                                        <h3>{{links[7].name}} <span>{{links[7].surname}}</span></h3>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class='col-xs-4' ng-click="window.location.href='{{links[8].link}}'">
                            <a href="{{links[8].link}}">
                                <figure class='younglings'><img id="headshot" src='{{links[8].src}}' alt='a picture' class='img-responsive' />
                                    <figcaption>
                                        <h3>{{links[8].name}} <span>{{links[8].surname}}</span></h3>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul class="thumbnails">
                        <li class='col-xs-4' ng-click="window.location.href='{{links[9].link}}'">
                            <a href="{{links[9].link}}">
                                <figure class='younglings'><img id="headshot" src='{{links[9].src}}' alt='a picture' class='img-responsive' />
                                    <figcaption>
                                        <h3>{{links[9].name}} <span>{{links[9].surname}}</span></h3>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class='col-xs-4' ng-click="window.location.href='{{links[10].link}}'">
                            <a href="{{links[10].link}}">
                                <figure class='younglings'><img id="headshot" src='{{links[10].src}}' alt='a picture' class='img-responsive' />
                                    <figcaption>
                                        <h3>{{links[10].name}} <span>{{links[10].surname}}</span></h3>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class='col-xs-4' ng-click="window.location.href='{{links[11].link}}'">
                            <a href="{{links[11].link}}">
                                <figure class='younglings'><img id="headshot" src='{{links[11].src}}' alt='a picture' class='img-responsive' />
                                    <figcaption>
                                        <h3>{{links[11].name}} <span>{{links[11].surname}}</span></h3>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul class="thumbnails">
                        <li class='col-xs-4' ng-click="window.location.href='{{links[12].link}}'">
                            <a href="{{links[12].link}}">
                                <figure class='younglings'><img id="headshot" src='{{links[12].src}}' alt='a picture' class='img-responsive' />
                                    <figcaption>
                                        <h3>{{links[12].name}} <span>{{links[12].surname}}</span></h3>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class='col-xs-4' ng-click="window.location.href='{{links[13].link}}'">
                            <a href="{{links[13].link}}">
                                <figure class='younglings'><img id="headshot" src='{{links[13].src}}' alt='a picture' class='img-responsive' />
                                    <figcaption>
                                        <h3>{{links[13].name}} <span>{{links[13].surname}}</span></h3>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class='col-xs-4' ng-click="window.location.href='{{links[14].link}}'">
                            <a href="{{links[14].link}}">
                                <figure class='younglings'><img id="headshot" src='{{links[14].src}}' alt='a picture' class='img-responsive' />
                                    <figcaption>
                                        <h3>{{links[14].name}} <span>{{links[14].surname}}</span></h3>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>